<View>
  <Labels name="label" toName="text" choice="multiple">
    <Label value="Positive" background="green"/>
    <Label value="Negative" background="red"/>
    <Label value="Food" background="darkorange"/>
    <Label value="Price" background="darkgreen"/>
    <Label value="Service" background="blue"/>
    <Label value="Ambience" background="darkred"/>
    <Label value="Miscellaneous" background="purple"/>
  </Labels>
  <Text name="text" value="$text"/>
</View>
